<h2 mat-dialog-title>Agregar Empleado</h2>
<div mat-dialog-content>
    <form [formGroup]="EmployeeForm">
        <div class="form-content-three">
            <input matInput formControlName="emp_ID" hidden="true" placeholder="ID" />
            <mat-form-field appearance="outline">
                <mat-label>Nombres<span class="requerido"> *</span></mat-label>
                <input matInput formControlName="emp_nombres" placeholder="Nombres" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Apellidos<span class="requerido"> *</span></mat-label>
                <input matInput formControlName="emp_apellidos" placeholder="Apellidos" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>DNI</mat-label>
                <input matInput formControlName="emp_dni" placeholder="DNI" type="number" />
            </mat-form-field>
        </div>

        <div class="form-content-three">            
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="emp_email" placeholder="Email" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput formControlName="emp_celular" placeholder="Celular" type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="emp_ciudad" placeholder="Ciudad" />
            </mat-form-field>
        </div>
            
        <div class="form-content-extend">
            <mat-form-field appearance="outline">
                <mat-label>Direccion</mat-label>
                <input matInput formControlName="emp_direccion" placeholder="Dirección" />
            </mat-form-field>        
        </div>
        <div class="form-content-three">            
            <!-- FECHA -->
            <mat-form-field appearance="outline">
                <mat-label>Fecha Ingreso<span class="requerido"> *</span></mat-label>
                <input matInput formControlName="emp_ingreso" [matDatepicker]="picker" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Perfil<span class="requerido"> *</span></mat-label>
                <mat-select formControlName="emp_rol_ID" placeholder="Perfil">
                    <mat-option *ngFor="let rol of listRoles" value={{rol.rol_ID}}>
                        {{rol.rol_perfil}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Estado<span class="requerido"> *</span></mat-label>
                <mat-select formControlName="emp_estado" >
                    <mat-option value=1>Activo</mat-option>
                    <mat-option value=0>Inactivo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-content">
            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="emp_usuario" placeholder="Usuario" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="emp_contraseña" placeholder="Contraseña" />
            </mat-form-field>
        </div>

    </form>

</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" matTooltip="Agregar" (click)="addEmployee()">{{actionBtn}}</button>
    <button mat-raised-button color="warn" matTooltip="Cancelar" mat-dialog-close>Cancelar</button>
</div>
