.reports__contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0px;
}

.reports__title {
  display: flex;
  align-items: center;
}

.reports__title h3 {
  padding-left: 10px;
  margin: 0;
}

.reports__title mat-icon {
  color: #1A93DC;
}
  
.content-date {
  /* background-color: #01A2FD; */
  width: 305px;
  margin-top: 10px;
}

.content-date mat-label {
  /* font-weight: bold; */
  text-shadow: none;
  font-size: 16px;
  text-transform: uppercase;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

.reports__table th {
  background-color: #E0F3FF;
  color: #1A93DC;
  /* color: #263A6E; */
  font-size: 12px;
  font-weight: 400;
  padding: 6px 15px;
  text-align: start;
}

.reports__table td {
  background-color: #f5f5f5;
  /* color: #1A93DC; */
  color: #263A6E;
  font-size: 11px;
  /* font-weight: 400; */
  padding: 4px;
  /* text-align: start; */
}
