.reports__contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0px;
}

.reports__title {
  display: flex;
  align-items: center;
}

.reports__title h3 {
  padding-left: 10px;
  margin: 0;
}

.reports__title mat-icon {
  color: #1A93DC;
}
  
.content-date {
  /* background-color: #01A2FD; */
  width: 305px;
  margin-top: 10px;
}

.content-date mat-label {
  /* font-weight: bold; */
  text-shadow: none;
  font-size: 16px;
  text-transform: uppercase;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reports__table th {
  /* background-color: #E0F3FF; */
  background-color: #411BAB;
  color: white;
  /* color: #1A93DC; */
  /* color: #263A6E; */
  font-size: 12px;
  font-weight: 400;
  padding: 6px 15px;
  margin-bottom: 20px;
  text-align: start;
}

.reports__table td {
  background-color: #E0F3FF;
  /* color: #1A93DC; */
  color: #263A6E;
  font-size: 11px;
  padding: 4px 10px;
}

.calc__totales {
  background-color: #6CCBE4 !important;
}

.calc__totales td {
  text-transform: uppercase;
  background-color: #f5f5f5;
  color: red;
  font-weight: 500;
}

.reports__contents-purchases {
  
}

.content-date {
  /* background-color: #01A2FD; */
  width: 305px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.content-date mat-label {
  /* font-weight: bold; */
  text-shadow: none;
  font-size: 14px;
  text-transform: uppercase;
}
.content-date input {
  text-shadow: none;
  font-size: 12px;
}

.btn-group {
  cursor: pointer;
  margin: 4px;
}

.btn-group .btn-group-icon {
  color: white;
  font-size: 23px;
  /* padding: 10px 0px; */
}