<form [formGroup]="userForm" class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="$key" />
                <mat-form-field>
                    <input matInput formControlName="fullName" placeholder="Full Name*" />
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="email" placeholder="Email*" />
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="mobile" placeholder="Mobile*" />
                    <mat-error *ngIf="userForm.controls['mobile'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="userForm.controls['mobile'].errors?.minlength">Minimun 9 charactors needed.</mat-error>
                </mat-form-field>
            
        
                <!-- <mat-grid-tile>
                    <div class="controles-container">
                        <div class="add-bottom-padding">
                            <mat-radio-group formControlName="gender">
                                <mat-radio-button value="1">Male</mat-radio-button>
                                <mat-radio-button value="2">Female</mat-radio-button>
                                <mat-radio-button value="3">Other</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </mat-grid-tile> -->
                <!-- <mat-form-field>
                    <mat-select formControlName="department" placeholder="Departments">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let department of departments">
                            <mat-option value="{{department.id}}">{{department.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
                
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid" *ngIf="!getParamId" (click)="userSubmit()">Submit</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid" *ngIf="getParamId" (click)="userUpdate()">Update</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
                
                

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form> 
