<mat-card>
    <div class="title">
        <mat-icon>local_shipping</mat-icon>
        <h3>PROVEEDORES</h3>
    </div> 
</mat-card>
<br>
<!-- <div *ngIf="listUsuarios.length > 0"> -->
    <a class="icon-content" color="primary" matTooltip="Agregar Proveedor" (click)="openDialogAddProvider()">
        <mat-icon class="icon-option">queue</mat-icon>
    </a>
    <a class="icon-content" color="warn" matTooltip="Proveedores Eliminados">
        <mat-icon class="icon-option">delete_sweep</mat-icon>
    </a>
    <a class="icon-content" color="primary" matTooltip="Imprimir Lista">
        <mat-icon class="icon-option">local_print_shop</mat-icon>
    </a>
    <a class="icon-content" color="primary" matTooltip="Descargar PDF">
        <mat-icon class="icon-option">picture_as_pdf</mat-icon>
    </a>
    <a class="icon-content" color="primary" matTooltip="Descargar Excel">
        <mat-icon class="icon-option">explicit</mat-icon>
    </a><!-- &nbsp; -->
    <a class="icon-content" color="primary" matTooltip="Enviar Email">
        <mat-icon class="icon-option">mail</mat-icon>
    </a>
    <!-- <button mat-raised-button color="primary" matTooltip="Agregar Cliente" (click)="openDialog()"><mat-icon>add_box</mat-icon></button> -->
    <br><br>
    <div class="mat-elevation-z8">
    
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input autocomplete="off">
        </mat-form-field>
    
        <table mat-table [dataSource]="dataSource" matSort >
    
            <!-- Position Column -->
            <ng-container matColumnDef="posicion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N°</th>
                <td mat-cell *matCellDef="let element"> {{ element.prov_ID }} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRES Y APELLIDOS</th>
                <td mat-cell *matCellDef="let element"> {{element.prov_nombres + " " + element.prov_apellidos}} </td>
            </ng-container>
    
            <!-- Surname Column -->
            <!-- <ng-container matColumnDef="apellidos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
                    <td mat-cell *matCellDef="let element"> {{element.cus_apellidos}} </td>
                </ng-container> -->
    
            <!-- Dni Column -->
            <ng-container matColumnDef="razonsocial">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>RAZON SOCIAL</th>
                <td mat-cell *matCellDef="let element"> {{element.prov_razon_social}} </td>
            </ng-container>
    
            <!-- Ruc Column -->
            <ng-container matColumnDef="ruc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>RUC</th>
                <td mat-cell *matCellDef="let element"> {{element.prov_ruc}} </td>
            </ng-container>
    
            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
                <td mat-cell *matCellDef="let element"> {{element.prov_email}} </td>
            </ng-container>
    
            <!-- Celular -->
            <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CELULAR </th>
                <td mat-cell *matCellDef="let element"> {{element.prov_celular}} </td>
            </ng-container>
    
            <!-- Direction -->
            <!-- <ng-container matColumnDef="direccion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                    <td mat-cell *matCellDef="let element"> {{element.cus_direccion}} </td>
                </ng-container> -->
    
            <!-- Ciudad -->
            <ng-container matColumnDef="ciudad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CIUDAD </th>
                <td mat-cell *matCellDef="let element"> {{element.prov_ciudad}} </td>
            </ng-container>
    
            <!-- Estado -->
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
                <td mat-cell *matCellDef="let element"><span class='{{element.prov_estado == 1 ? "ac" : "in" }}'> {{element.prov_estado == 1 ? "ACTIVO" : "INACTIVO" }} </span></td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <a class="pointer" matTooltip="Ver Proveedor">
                        <mat-icon>remove_red_eye</mat-icon>
                    </a>
                    <a class="pointer" (click)="openDialogEditProvider(element)" matTooltip="Editar Proveedor">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer" (click)="deleteOneProvider(element.prov_ID)" matTooltip="Eliminar Proveedor">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    <br>
    <br>
    <!-- </div> -->
    
    <!-- <h2 *ngIf="listUsuarios.length == 0">No hay Usuarios para mostrar</h2>  -->
