<!-- <mat-toolbar color="primary">
  <span>App Users</span>
  <span class="example-spacer"></span>
  <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{ item.nombre }}</button>
  <span class="example-spacer"></span>

  <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar> -->


<!-- <div class="example-button-row">
  <h2>User Management</h2>
  <a mat-raised-button color="primary" routerLink="create">Create</a>
  &nbsp;
  <a mat-raised-button color="warn" routerLink="read">Read</a>
</div> -->

<router-outlet></router-outlet>
<lib-toastify-toast-container></lib-toastify-toast-container>

