<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h4 class="usuario">Angel Capcha</h4>
            <!-- <h5>Example@gmail.com</h5> -->
        </div>
        <img src="https://w7.pngwing.com/pngs/247/564/png-transparent-computer-icons-user-profile-user-avatar-blue-heroes-electric-blue-thumbnail.png" alt="Soufiane FADIL">
    </div>
    <mat-divider></mat-divider>

    <!-- <h3 matSubheader>Pages</h3> -->
    <a routerLinkActive="list-item-active" routerLink="/"><mat-icon>pie_chart</mat-icon>Dashboard</a>
    <a routerLinkActive="list-item-active" routerLink="providers"><mat-icon>local_shipping</mat-icon>Proveedores</a>
    <a routerLinkActive="list-item-active" routerLink="/customers"><mat-icon>group_add</mat-icon>Clientes</a>
    <a routerLinkActive="list-item-active" routerLink="/products"><mat-icon>store</mat-icon>Productos</a>
    <a routerLinkActive="list-item-active" routerLink="/categories"><mat-icon>category</mat-icon>Categorias</a>
    <a routerLinkActive="list-item-active" routerLink="/shopping"><mat-icon>shopping_basket</mat-icon>Compras</a>
    <a routerLinkActive="list-item-active" routerLink="/sales"><mat-icon>shopping_cart</mat-icon>Ventas</a>
    <mat-divider class="line-header"></mat-divider>
    <a routerLinkActive="list-item-active" routerLink="/cash-register"><mat-icon>point_of_sale</mat-icon>Caja</a>
    <a routerLinkActive="list-item-active" routerLink="/advances"><mat-icon>add_card</mat-icon>Adelantos</a>
    <a routerLinkActive="list-item-active" routerLink="/expenses"><mat-icon>payments</mat-icon>Gastos</a>
    <a routerLinkActive="list-item-active" routerLink="/reports"><mat-icon>poll</mat-icon>Reportes</a>
    <a routerLinkActive="list-item-active" routerLink="/employees"><mat-icon>person</mat-icon>Usuarios</a>
    <!-- <a routerLinkActive="list-item-active" routerLink="/"><mat-icon>settings</mat-icon>Configuración</a> -->


    <!-- <mat-divider></mat-divider>
    <h4 matSubheader>Tools</h4>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contacts" >
        <mat-icon>import_contacts</mat-icon>
        Constacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contacts" >
        <mat-icon>phone</mat-icon>
        Leds
    </a> -->

</mat-nav-list>
