mat-form-field {
    width: 100%;
    padding: 0px 0px !important;
    margin: 0px !important;
}

mat-raised-button {
    padding: 5px;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px; 
}

.form-content-extend {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 10px; 
}



@media screen and (min-width: 0px) {
    .form-content {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }    
    .form-content-extend {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }

  
}
  
@media screen and (min-width: 576px) {
    .form-content {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }    
    .form-content-extend {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }


}
  
@media screen and (min-width: 768px) {
    .form-content {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }    
    .form-content-extend {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }

}
  
@media screen and (min-width: 992px) {
    .form-content {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }    
    .form-content-extend {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }

}
  
@media screen and (min-width: 1200px) {
    .form-content {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }
    .form-content-extend {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 10px; 
    }

}
  