<h2 mat-dialog-title>Agregar Categoria</h2>
<div mat-dialog-content>
    <form [formGroup]="categorieForm" >
        <div class="form-content">
            <input matInput formControlName="cat_ID" hidden="true" placeholder="ID" />
            <mat-form-field appearance="outline">
                <mat-label>Categoria<span class="requerido"> *</span></mat-label>
                <input matInput formControlName="cat_nombre" placeholder="Categoria" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="cat_descripcion" placeholder="Descripcion" />
            </mat-form-field>
        </div>
    
    </form>
    
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" matTooltip="Agregar" (click)="addCategorie()">{{actionBtn}}</button>
    <button mat-raised-button color="warn" matTooltip="Cancelar" mat-dialog-close>Cancelar</button>
</div>
