<h2 mat-dialog-title>Agregar Material</h2>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <div class="form-content">
            <input matInput formControlName="prod_ID" hidden="true" placeholder="ID" />
            <mat-form-field>
                <mat-label>Material<span class="requerido"> *</span></mat-label>
                <input matInput formControlName="prod_nombre" placeholder="Material" />
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Categoria<span class="requerido"> *</span></mat-label>
                <mat-select formControlName="prod_cat_ID" placeholder="Categoria">
                    <mat-option *ngFor="let categ of listCategories" [value]="categ['cat_ID']">
                        {{categ.cat_nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>

        <div class="form-content">
            <mat-form-field>
                <mat-label>Peso Referencial</mat-label>
                <input matInput formControlName="prod_peso_total" placeholder="Peso Referencial" type="number" />
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Peso Arequipa</mat-label>
                <input matInput formControlName="prod_peso_aqp" placeholder="Peso Arequipa" type="number" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Peso Local</mat-label>
                <input matInput formControlName="prod_peso_local" placeholder="Peso Local" type="number" />
            </mat-form-field>
            
        </div>

        <div class="form-content">

            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="prod_descripcion" placeholder="Descripción" />
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            
        </div>

        <div class="form-content">
            <input formControlName="prod_imagen" type="file" />
        </div>
    </form>

</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" matTooltip="Agregar" (click)="addProduct()">{{actionBtn}}</button>
    <button mat-raised-button color="warn" matTooltip="Cancelar" mat-dialog-close>Cancelar</button>
</div>
